*{
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}


img{
  filter:grayscale(0);
  width: 100%;
}

#projects {
  font-family: gruppo;

}

th {
  font-size: large;
}

td {
  font-weight: bold;
 
}

@media screen and (max-width: 768px) {
    #content{
      display: flex;
    }

}
